Source: zcash
Section: utils
Priority: optional
Maintainer: Zen Blockchain Foundation <info@zensystem.io>
Homepage: https://zensystem.io
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/ZencashOfficial/zen.git
Vcs-Browser: https://github.com/ZencashOfficial/zen

Package: zen
Architecture: amd64
Depends: ${shlibs:Depends}
Description: Private and reliable transactions, communications, and publishing - zensystem.io
