Source: horizen
Section: utils
Priority: optional
Maintainer: Zen Blockchain Foundation <info@horizen.global>
Homepage: https://horizen.global
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/ZencashOfficial/zen.git
Vcs-Browser: https://github.com/ZencashOfficial/zen

Package: horizen
Architecture: any
Depends: ${shlibs:Depends}
Description: Private and reliable transactions, communications, and publishing - horizen.global
