Source: zen
Section: utils
Priority: optional
Maintainer: Zen Blockchain Foundation <info@horizen.io>
Homepage: https://horizen.io
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/HorizenOfficial/zen.git
Vcs-Browser: https://github.com/HorizenOfficial/zen

Package: zen
Architecture: any
Depends: ${shlibs:Depends}
Description: The zero-knowledge enabled network of blockchains - horizen.io
