BasedOnStyle: Google
Language: Cpp
ColumnLimit: 128
IndentWidth: 4
AccessModifierOffset: -2
AlignAfterOpenBracket: true
AllowShortEnumsOnASingleLine : false
BreakConstructorInitializers : BeforeColon
ForEachMacros: [ foreach, Q_FOREACH, BOOST_FOREACH, BOOST_REVERSE_FOREACH ]
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
AllowShortEnumsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
UseTab: Never
AllowAllParametersOfDeclarationOnNextLine : true
AllowAllArgumentsOnNextLine : true

IncludeCategories:
  # C standard library
  - Regex:           '<[[:alnum:]]+\.h>'
    Priority:        10

  # C++ standard library
  - Regex:           '<[[:alnum:]_]+>'
    Priority:        20

  # Boost library
  - Regex:           '<boost\/+>'
    Priority:        30

  # Third-party libraries
  - Regex:           '<.*'
    Priority:        40